.background{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 100px auto;
    padding: 10px;
}
.error-container{
    text-align: center;
}
h1{
    font-size: $textXxxl;
    color: $white;
}
.ver{
    display: flex;
    justify-content: center;
    font-size: $textLg;
    line-height: $textLg;
    font-weight: $textLight;
    color: $blueColor;
    text-decoration-line: underline;
    height: 50px;    
}