.card-title{
    color: $keyColor;
    font-weight: $textLight;
    font-size: $textXl;
    line-height: $textTwo;
}
.btn{
    background-color: $secondaryColor;
    color: $white;
    border-radius: 20px;
}
