//colores
$mainColor: rgb(188, 188, 169);
$secondaryColor: rgb(19, 19, 104);
$keyColor: rgb(33, 13, 13);
$white: rgb(246, 242, 242);
$tertiaryColor: rgb(171, 212, 213);
$containerColor: rgb(247, 235, 235); 

//fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: sans-serif;

//sizing 
$textSm:1.2em;
$textMd:1.6em;
$textLg:2em;
$textXl:2.4em;
$textXxl:3.4em;
$textXxxl:3.8em;

//weight
$textLight:30em;
$textRegular:60em;

//lineHeight
$textOne:1.4em;
$textTwo:2em;
